.space-action{
	margin-bottom: 10px;
}

.navbar-default {
    background-color: #D6742A;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:not(.btn) {
    color: #fff;
}

.color-text-nav{
	color: #fff;
}